$color-background: linear-gradient(90deg, rgba(142,125,125,1) 0%, rgba(72,69,69,1) 100%);
$color-footer:black;
$color-hr:black;
$color-background-card: #f58021c3;
$color-body:linear-gradient(180deg, #f58021fc 0%, rgba(38,17,2,1) 100%);
