//COCINAS
.bodycocina{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.container{
  width: 100%;
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
    .card{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: $color-background-card;
        box-shadow: 0px 1px 10px rgba(0,0,0,1);
        cursor: default;
        transition: all 400ms ease;
    }
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4) ;
    transform: translateY(-3%);
}
.card img{
  width: 100%;  
  height: 510px;
}
.cocinascont{
    text-align: center;
    color: white;
}
.DefinicionCocina{
    color: white;
    font-size: 20px;
    padding:20px;
    margin-top: 10px;
}
