.titulo{
        margin-top: 20px;
        text-align: center;
        color: white;
    }
  

    .Definicion{
        font-family: 'REM', sans-serif;
        font-size: 1.2rem;
    text-align: left;
color: white;
margin: 8px;
    }
    
    #pcr{
        height: 450px ;
    }
body{
    background: $color-body;
}





