@mixin Titulomain(){ 
    .titulo{
        margin-top: 20px;
        text-align: center;
    }
  
}
@mixin DefinicionYimg(){
    .Definicion{
        font-family: 'REM', sans-serif;
        font-size: 1.2rem;
    text-align: center;
    border: solid black;
    #pcr{
        height: 450px ;
    }
    }
}

.titulo{
    @include Titulomain();
}

.Definicion #pcr{
@include DefinicionYimg();

}
body{
    background-color: orange;
}


