.separador{
    border-width: 10px; 
}
.cards-grid {
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
  }
  

  .flip-card {
    width: 600px;
    height: 404px;
    perspective: 2000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,1);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: flex;
    place-items: center;
    padding: 32px;
    background-color: $color-background-card;
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  
  .imagenflete{
  width: 100%;
  height: 100%;
  }
.imagenmedida{
    width: 100%;
    height: 100%;
}
.carlos{
    width: 100%;
    height: 100%;
}
.DefinicionServ{
    text-align: center;
    font-size: 20px;
    border: solid grey;
}
.titulos-para-servicios{
    text-align: center;
    font-size: 30px;
    border: solid orange;
    font-family: 'Merriweather', serif;
}